<div class="cart" *ngIf="show">
  <span (click)="close()" class="close">X</span>
  <div class="cart__content">
    <div class="cart__content__products">
      <p *ngIf="emptyList()">Carrinho Vazio</p>
      <div
        *ngFor="let product of cartData"
        class="cart__content__products__product"
      >
        <img [src]="product?.image" />
        <div class="cart__content__products__product__infos">
          <span class="cart__content__products__product__infos__name">{{
            product?.name
          }}</span>
          <span class="cart__content__products__product__infos__price"
            >{{ product?.price }} <small>Dz</small></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="cart__footer">
    <div class="cart__footer__address">
      <p>Endereço</p>
      <div class="cart__footer__address__infos">
        <span>Av. ag fernandes, numero 59 b</span>
        <span>34123-599</span>
      </div>
    </div>
    <div class="cart__footer__infos">
      <p>
        Seus pontos: <span>{{ user?.points }} <small>Dz</small></span>
      </p>
    </div>
    <div class="cart__footer__infos">
      <p>
        Valor da troca: <span>{{ getTotal() }} <small>Dz</small></span>
      </p>
    </div>
    <div class="cart__footer__infos">
      <p>
        Saldo: <span>{{ getBalance() }} <small>Dz</small></span>
      </p>
    </div>
    <button>Concluir troca</button>
  </div>
</div>
