.menu {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #162860;
  padding: 15px 30px;

  &__header {
    margin-bottom: 30px;
    &__name {
      color: white;
      font-size: 28px;
    }
  }

  input {
    height: 40px;
    border-radius: 6px;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}
